/**
 * @name eighth theme
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');

:root {
  --accent-hue: 224;
  --accent-saturation: 100%;
  --accent-brightness: 0%;
  --background-accent-hue: 223;
  --background-accent-saturation: 0%;
  --background-accent-brightness: 0%;
  --background-image: url('https://i.imgur.com/Nfy0EWx.jpg'); /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 0px;
  --background-overlay-opacity: 60%;
  --background-overlay-color-lightness: -1;
  --background-hue-shift-strength: 13%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 60%;
  --window-blur: 0;
  --window-friends-blur: 0;
  --window-margin: 0;
  --window-margin-left: 0;
  --window-border-radius: 0px;
  --window-background-lightness: -1;
  --window-accent-tint-strength: 0%;
  --chat-bubble: 0;
  --text-link-hue: 218;
  --chat-text-brightness: 0.19;
  --home-icon: url('https://i.imgur.com/F6DjSDT.jpg');
  --favorites-icon: initial;
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: -1;
  --sidebar-width: 284px;
  --members-width: 228px;
  --sidebar-text-brightness: 0.61;
  --background-floating-blur: 21px;
  --floating-background-lightness: 0.08;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 0;
  --custom-font-display: Segoe UI;
  --custom-font-regular: Segoe UI;
  --custom-font-primary: Segoe UI;
  --custom-font-code: Segoe UI;
  --enable-blur: 1;
}

/* Any custom CSS below here */


