/**
 * @name 9th theme
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://fonts.googleapis.com/css2?family=segoe+ui:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --accentcolor: 22,22,22;
  --accentcolor2: 251,167,248;
  --linkcolor: 158,187,216;
  --mentioncolor: 244,184,83;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: segoe ui;
  --backgroundaccent: 0,0,0;
  --backgroundprimary: 6,6,6;
  --backgroundsecondary: 6,6,6;
  --backgroundsecondaryalt: 14,14,14;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 25,25,25;
  --settingsicons: 1;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 2.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #74BE7E;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #772E2E;
  --rs-offline-color: #4F5052;
  --rs-streaming-color: #8F6EC9;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


